In [1]:
import numpy as np
import pandas as pd

import language_tool_python as lt
from textblob import TextBlob
tool = lt.LanguageToolPublicAPI('en-US')

## Load the Data

In [2]:
data = pd.read_csv('review_data.csv')
data.head()

,text,star,app_id,reviewDate
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21
2,Teturwu,1,com.fingersoft.hillclimb,18/03/21
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,5,com.fingersoft.hillclimb,18/03/21
4,This game is nice,5,com.fingersoft.hillclimb,18/03/21

In [3]:
data_1 = data[['text']]
data_1.head()

                                                text
0                                    Anathi Khanyile
1  Tony bahut funny hai Hill climbing racing my f...
2                                            Teturwu
3  Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4                                  This game is nice

In [18]:
def check_grammar_spelling(data):
    i = 0
    for line in data:
        match = tool.check(line)
        t = TextBlob(str(match))
        i = i + len(t)
        if i > 0:
            return "Incorrect"
        else:
            return "Correct"

In [19]:
mistakes = check_grammar_spelling(data_1.text)

In [20]:
data_1['Grammar'] = mistakes
data_1.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_2380\2373889594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['Grammar'] = mistakes

,text,Grammar,Corrected_Text
0,Anathi Khanyile,Incorrect,Anathi Khanyile
1,Tony bahut funny hai Hill climbing racing my f...,Incorrect,Tony bahut funny hai Hill climbing racing my f...
2,Teturwu,Incorrect,Teturwu
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Incorrect,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4,This game is nice,Incorrect,This game is nice

In [21]:
def spelling(text):
    try:
        text = tool.correct(text)
        b = TextBlob(text)
        return str(b.correct())
    except:
        return text

In [22]:
correct = spelling(data_1.text)

In [15]:
data_1['Corrected_Text'] = correct
data_1.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_2380\70833210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['Corrected_Text'] = correct

,text,Grammar,Corrected_Text
0,Anathi Khanyile,Incorrect,Anathi Khanyile
1,Tony bahut funny hai Hill climbing racing my f...,Incorrect,Tony bahut funny hai Hill climbing racing my f...
2,Teturwu,Incorrect,Teturwu
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Incorrect,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4,This game is nice,Incorrect,This game is nice